# Neural Network with Numpy

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
admissions = pd.read_csv('student_data.csv')

In [6]:
admissions.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [7]:
data = pd.concat([admissions, pd.get_dummies(admissions['rank'], prefix='rank')], axis=1)
data = data.drop('rank', axis=1)

In [8]:
data.head()

   admit  gre   gpa  rank_1  rank_2  rank_3  rank_4
0      0  380  3.61       0       0       1       0
1      1  660  3.67       0       0       1       0
2      1  800  4.00       1       0       0       0
3      1  640  3.19       0       0       0       1
4      0  520  2.93       0       0       0       1

In [9]:
for field in ['gre', 'gpa']:
    mean, std = data[field].mean(), data[field].std()
    data.loc[:,field] = (data[field]-mean)/std

In [10]:
data.head()

   admit       gre       gpa  rank_1  rank_2  rank_3  rank_4
0      0 -1.798011  0.578348       0       0       1       0
1      1  0.625884  0.736008       0       0       1       0
2      1  1.837832  1.603135       1       0       0       0
3      1  0.452749 -0.525269       0       0       0       1
4      0 -0.586063 -1.208461       0       0       0       1

In [38]:
X = data.iloc[:,1:].values
y = data.iloc[:,0].values

In [41]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [88]:
W = np.random.randn(6)

In [89]:
def sigmoid(x):
    return 1 / (1 + np.exp(-x))

def sigmoid_prime(x):
    return sigmoid(x) * (1 - sigmoid(x))

def predict(x):
    return sigmoid(np.matmul(x, W))   

def error(x,y):
    yhat = predict(x)
    return (y - yhat) * sigmoid_prime(predict(x))

In [92]:
lr = 0.5
epochs = 100
for i in range(epochs):
    del_w = np.zeros(W.shape)
    for xm, ym in zip(x_train, y_train):
        err = error(xm, ym)
        del_w += lr * err * xm
    W += lr * del_w / x_train.shape[0]
print(W)

[ 0.27316652  0.27878656  0.19642979 -0.69243448 -1.32472482 -1.16173194]

In [57]:
from sklearn.metrics import accuracy_score

In [93]:
ypred = np.round(sigmoid(np.matmul(x_test, W)))
accuracy_score(ypred, y_test)

0.6875